.style1 {
	font-family: Arial,Georgia,Serif;
	font-size: 36px;
	font-style: normal;
	font-weight: bold;
	color: #6F00D2;
}
.style17 {font-size: 20px; font-family: Arial,sans-serif;}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
body{
  font-family: Arial ,sans-serif;
  font-size: 15px;
}

.style3 {font-size: 16px; font-family: Arial,sans-serif}
.style4 {font-size: 12px; font-weight: bold; font-family: Arial,sans-serif}
.style22 {font-size: 18px; font-family: Arial,sans-serif}
.style23 {font-size: 18px; color:blue; font-weight: bold; font-family: Arial,sans-serif}
.style5 {background:#F1E1FF;color:#FFFFFF;font-weight:bold}
.style6 {font-size: 18px; font-family: Arial,sans-serif;background:#B8B8DC;color:#FFFFFF;font-weight:bold}
.style7 {font-size: 14px; font-weight: bold; font-family: Arial,sans-serif}